@keyframes flutuar {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
    /* Sobe 20 pixels */
  }

  100% {
    transform: translateY(0);
  }
}


/* Animação das letras */
@keyframes digitar {
  from {
    width: 0;
  }

  to {
    width: 80%;
  }
}

/* Animação do cursor piscando */
@keyframes cursor {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: #431313;
  }
}

.efeito_vidro {
   /* From https://css.glass */
  background: #00000037;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}

@keyframes visual-flow {

  0%,
  100% {
    filter: saturate(0.5) brightness(0.8);
    transform: translateY(0);
  }

  50% {
    filter: saturate(1.2) brightness(1.1);
    transform: translateY(-5px);
    /* Movimento mínimo, quase imperceptível */
  }
}

@keyframes surgir {
  from {
    opacity: 0;
    transform: translateY(-20px); /* Começa um pouco acima */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Termina na posição original */
  }
}
