* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scrollbar-gutter: stable;
}

body {
  font-family: Arial, sans-serif;
  /* background: #431313; */
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)), url('/frontEnd/img/Whisk_5da42f2111cbc0da5f84e63436bc5f65eg.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}


svg {
  stroke: #ffffff;
  width: 1.5rem;
}

h1 {
  font-size: 1.3rem;
  color: #ffffff;
  padding: 1rem 0;
  margin: 0.5rem 0;
  font-family: monospace;

}