.card {
  position: relative;
  overflow: hidden;
  background: #000000;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 1rem;
  min-width: 18.5rem;
  max-width: 18.5rem;
  border: solid 1px #ffffff;
  transition: all 0.4s ease;
}

.container:has(.card:hover) .card:not(:hover) {
  filter: grayscale(1);
  opacity: 0.5;
  transform: scale(0.95);
}

.card:hover {
  transform: scale(1.05);
  /* Cresce levemente */
  filter: grayscale(0);
  /* Garante cor total */
  opacity: 1;
}

.card.mostrar-detalhes .info-layer {
  bottom: 8.5%;
}

.mais_info {
  display: flex;
  justify-self: center;
  place-content: center;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #79070770;
  color: white;
  text-decoration: none;
  border-radius: 0.5rem;
  font-weight: 800;
  border: solid 1px #fff;
  margin-bottom: 0.7rem;
  cursor: pointer;
}

.mais_info:hover {
  background-color: #790707d3;
}

.info-layer {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 83.5%;
  background: linear-gradient(to top, #000000, #000000e8);
  transition: bottom 0.6s ease;
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #fff;
  border-top: solid 1px #fff;
  justify-content: start;
  gap: 0;
  font-family: Tahoma, sans-serif;
  overflow-y: auto;
}

.info-div {
  padding: 0.5rem 1rem;
  text-align: center;
  justify-items: center;
}

.info-div h2 {
  width: 100%;
  padding: 0 0 0.2rem 0;
  text-align: center;
  border-bottom: solid 1px #fff;
}

.sinopse {
  padding: 0 1rem;
}

.sinopse h2 {
  padding: 0.5rem;
  text-align: center;
  border-bottom: solid 1px #fff;
}

.sinopse p {
  padding: 0.5rem;
  font-size: 1rem;
  text-align: justify;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
}

.card img {
  width: 100%;
  min-height: 24rem;
  max-height: 24rem;
  border-radius: 0.5rem 0.5rem 0 0;
  margin-bottom: 0;
  border: solid 1px #ffffff;
}


.card h3 {
  color: #311919;
  font-family: Helvetica;
  font-weight: 700;
  justify-content: center;
  align-content: center;
  background: #ffffff;
  border-radius: 0 0 4px 4px;
  text-align: center;
  font-size: 1rem;
  margin: -5px 0 15px;
  padding: 10px;
  min-height: 4rem;
  max-height: 4rem;
}

.card span {
  display: block;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: justify;
  font-size: 1rem;
  color: #ccccccc9;
  font-weight: 700;
  margin: 0.5rem;
  letter-spacing: 2px
}

.card .nota {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card .avaliacoes {
  font-size: 1rem;
  text-align: center;
  font-weight: 300;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 1rem;
}

.btns_nav {
  display: flex;
  justify-content: center;
  gap: 6rem;
  width: 100%;
}

.btns_nav_style {
  font-size: 1rem;
  font-weight: 600;
  background: none;
  color: #fff;
  border: none;
  min-width: 10rem;
  min-height: 2.5rem;
  border-bottom: solid 2px #ffffff;
}

.btns_nav_style:hover {
  border-bottom: solid 2px #79070770;
  border-radius: 0;
  cursor: pointer;
  color: #ffffff;
}

.btns_nav_style_active {
  border-bottom: solid 2px #ffffff;
  background: #79070770;
}

.busca-botao {
  text-align: center;
  background: #43131300;
  cursor: pointer;
  border: none;
  font-size: 1.3rem;
  min-width: 4rem;
  max-width: 4rem;
  height: 2.5rem;
}

.busca-botao:hover {
  background-color: #79070770;
}

.busca-botao:active {
  background: #79070791;
}

input {
  background: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  outline: none;
  color: #ffffff;
  text-align: left;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
}

.container_input:focus-within {
  color: #fff;
  border: solid 2px #fff;
  transition: all 0.5s ease-in-out;
  outline: #fff;
}

input::placeholder {
  color: #ffffff50;
  text-align: left;
}

.feedback_error {
  justify-self: center;
  align-content: center;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  width: 60%;
  height: 5rem;
  background-color: #e509142f;
  animation: surgir 0.5s ease-out forwards;
}

.feedback_info {
  justify-self: center;
  align-content: center;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  width: 60%;
  height: 5rem;
  background-color: #39303134;
  animation: surgir 0.5s ease-out forwards;

}

.trailer-container {
  display: flex;
  text-align: center;
}

.sem_trailer {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #000000;
  color: white;
  text-decoration: none;
  border-radius: 0.5rem;
  font-weight: 700;
  border: solid 1px #fff;
}

.botao-trailer {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #79070770;
  color: white;
  text-decoration: none;
  border-radius: 0.5rem;
  font-weight: 700;
  border: solid 1px #fff;
}

.botao-trailer:hover {
  background-color: #790707d3;
  cursor: pointer;
}

.sem_trailer:hover {
  cursor: no-drop;
}

.gif_login {
  animation: flutuar 3s linear infinite;
}

.gif_login:hover {
  opacity: 0;
}

.mensagem_login {
  text-align: center;
  padding: 1rem;
  width: 80%;
}