.card {
  position: relative;
  overflow: hidden;
  background: #000000;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 1rem;
  min-width: 18.5rem;
  max-width: 18.5rem;
  border: solid 1px #ffffff;
  transition: all 0.4s ease;
}

.container:has(.card:hover) .card:not(:hover) {
  filter: grayscale(1);
  opacity: 0.5;
  transform: scale(0.95);
}

.card:hover {
  transform: scale(1.05);
  /* Cresce levemente */
  filter: grayscale(0);
  /* Garante cor total */
  opacity: 1;
}

.card:hover .info-layer {
  bottom: 8%;
}

.info-layer {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 92%;
  background: linear-gradient(to top, #000000, #000000cb);
  transition: bottom 0.6s ease;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-bottom: solid 2px #fff;
  border-radius: 1rem 1rem 0 0;
  justify-content: space-between;
}

.card img {
  width: 100%;
  min-height: 24rem;
  max-height: 24rem;
  border-radius: 4px 4px 0 0;
  margin-bottom: 0;
  border: solid 1px #ffffff;
}


.card h3 {
  color: #311919;
  font-family: Helvetica;
  font-weight: 700;
  justify-content: center;
  align-content: center;
  background: #ffffff;
  border-radius: 0 0 4px 4px;
  text-align: center;
  font-size: 1rem;
  margin: -5px 0 15px;
  padding: 10px;
  min-height: 4rem;
  max-height: 4rem;
}

.card span {
  display: block;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: justify;
  font-size: 1rem;
  color: #ccccccc9;
  font-weight: 700;
  margin: 0.5rem;
  letter-spacing: 2px
}

.card .nota {
  font-size: 1.2rem;
  font-weight: 700;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transform: scaleX(1.1);
  transform-origin: left;
}

.card p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Helvetica;
  padding: 0.5rem;
  border-radius: 0;
  font-size: 1rem;
  text-align: justify;
  min-height: 80%;
  max-height: 80%;
  width: 100%;
  overflow-y: auto;
  align-content: flex-end;
}

.btns_nav {
  display: flex;
  justify-content: center;
  gap: 5rem;
  width: 100%;
}

.btns_nav_style {
  font-size: 1rem;
  font-weight: 600;
  background: none;
  color: #fff;
  border: none;
  min-width: 8rem;
  min-height: 2.5rem;
  border-bottom: solid 2px #ffffff;
}

.btns_nav_style:hover {
  border-bottom: solid 2px #311919;
  border-radius: 0;
  cursor: pointer;
  color: #ffffff;
}

.btns_nav_style_active {
  border-bottom: solid 2px #ffffff;
  background: #311919;
}

.busca {
  margin-bottom: 1rem;
}

.busca-botao {
  text-align: center;
  background: #43131300;
  cursor: pointer;
  border: none;
  font-size: 1.3rem;
  min-width: 4rem;
  max-width: 4rem;
  height: 2.5rem;
}

.busca-botao:hover {
  background-color: #79070770;
}

.busca-botao:active {
  background: #79070791;
}

input {
  background: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  outline: none;
  color: #ffffff;
  text-align: left;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
}

.container_input:focus-within {
  color: #fff;
  border: solid 2px #fff;
  transition: all 0.5s ease-in-out;
  outline: #fff;
}

input::placeholder {
  color: #ffffff50;
  text-align: left;
}

.feedback {
  display: flex;
  justify-self: center;
  align-self: center;
  color: #ffffff;
  padding: 1rem;
  font-size: 1.5rem;
  margin: 1rem 0;
  animation: subirERevelar 1s ease-out forwards;
}

.feedback_error {
  justify-self: center;
  align-content: center;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  width: 35%;
  height: 10rem;
  background-color: #e50914cd;
  animation: subirERevelar 1s ease-out forwards;
}

.feedback_info {
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  width: 50%;
  height: 5rem;
  background-color: #393031cd;
  animation: fadeUp 0.7s ease-out forwards;
  animation: subirERevelar 1s ease-out forwards;

}

.sem_trailer {
  width: 100%;
  text-align: center;
  display: inline-block;
  /* margin-top: 0.3rem; */
  padding: 6px 12px;
  background-color: #000000;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  border: solid 2px #fff;
}

.botao-trailer {
  width: 100%;
  text-align: center;
  display: inline-block;
  /* margin-top: 0.3rem; */
  padding: 6px 12px;
  background-color: #e50914;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  border: solid 2px #fff;
}

.botao-trailer:hover {
  background-color: #b20710;
  cursor: pointer;
}