header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 5rem;
  padding-top: 2rem;
  background: #000000b6;
}

nav {
  display: flex;
  align-items: center;
  background: #000000b6;
  padding: 1rem 0 2rem 0;
  border-bottom: 1px solid #fff;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  text-align: center;
  padding: 1rem;
  margin: 0;
  background: #0000008f;
}

.introducao {
  display: flex;
  justify-content: center;
}

.container {
  display: block;
  /* justify-content: center; */
  padding: 1rem;
  width: 100%;
  min-height: 60vh;
}

.card-filmes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 2rem;
  /* grid-template-rows: repeat(auto, 1fr); */
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}