header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 5rem;
  padding: 2rem 0 1rem 0;
  /* border-bottom: 2px solid #fff; */
  /* background: #0000008f; */
}

nav {
  display: flex;
  height: 4rem;
  align-items: center;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  text-align: center;
  padding: 1rem;
  margin: 0;
  background: #0000008f;
}

.container {
  display: flex;
  justify-content: center;
  padding: 1rem;
  min-height: 60vh;
}

.card-filmes {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
}
