@media screen and (max-width: 768px) {
  .card {
    margin: 1rem;
    padding: 0.5rem;
  }

  .card img {
    max-height: 15rem;
  }

  .card p {
    font-size: 14px;
    min-height: 10rem;
    max-height: 10rem;
  }

  .card h3 {
    font-size: 1.1rem;
  }

  .card span {
    font-size: 1rem;
  }

  .container {
    background-size: cover;
    background-attachment: fixed;
    padding: 0.5rem;
  }

  .trailer-container {
    display: flex;
    margin-top: 1.5rem;
    justify-content: center;
  }

  .botao-trailer,
  .sem_trailer {
    width: 100%;
    text-align: center;
  }

  .card-filmes {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  }

  header {
    display: grid;
    place-self: center;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* grid-column-gap: 5rem; */
    grid-row-gap: 1rem;
  }

  nav {
    width: 100%;
    justify-content: center;
    height: 8rem;
  }

  .container_input {
    grid-area: 2 / 1 / 3/ 3;
    margin: 0;
    justify-self: center;
    width: 90%;
  }

  .container_logo {
    margin: 0;
    width: 100%;
    justify-self: center;
    grid-area: 1 / 1 / 2 / 2;
  }

  .btns_nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    width: 90%;
  }

  .btns_nav_style {
    min-width: 80%;
  }

  #populares {
    grid-area: 1 / 1 / 2 / 2;
  }

  #melhores_notas {
    grid-area: 1 / 2 / 2 / 3;
  }

  #lancamento {
    grid-area: 2 / 1 / 3 / 2;
  }

  #lancamento-futuros {
    grid-area: 2 / 2 / 3 / 3;
  }

  input {
    width: 100%;
    margin: 0;
  }

  .busca-botao {
    width: 20%;
  }

  .feedback {
    width: 100%;
    justify-content: center;
  }

  .feedback_error {
    margin: 2rem 0;
    padding: 1rem;
    font-size: 1.3rem;
    height: 100%;
    width: 100%;
  }

  .feedback_info {
    margin: 2rem 0;
    padding: 1rem;
    font-size: 1.3rem;
    height: 100%;
    width: 100%;
  }

  h1 {
    margin: 0;
  }

  .introducao {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 80%; 
   }

  .container_gif_introducao {
    text-align: center;
    width: 90%;
    height: 100%;
    font-family: monospace;
    transition: all 0.5s ease;
  }

  .container_gif_introducao h2 {
    margin: 1rem;
    border: none;
    width: 100%;
    border-right: #431313 solid 2px;
    animation:
      digitar 2s steps(20) infinite alternate,
      cursor .6s step-end infinite;
  }

  .container_gif_introducao p {
    animation: flutuar 3s linear infinite;
    margin: 1rem 0;
  }

  .container_perfil {
    width: 80%;
    justify-self: start;
    grid-area: 1 / 2 / 1 / 3;
  }

  .container_Top3 {
    width: 100%;
    justify-content: center;
    height: 100%;
  }

  .imagens_Top3 {
    padding: 0;
    margin-top: 1rem;
    width: 40%;
    aspect-ratio: 4/5;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  /* animações mudadas para se adequar ao mobile */
  @keyframes digitar {
    from {
      width: 0;
    }

    to {
      width: 100%;
    }
  }

  /* Animação do cursor piscando */
  @keyframes cursor {

    from,
    to {
      border-color: transparent;
    }

    50% {
      border-color: #431313;
    }
  }
}