
.container_gif_introducao {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem 8rem;
  margin: 2rem 0;
  font-family: monospace;
  transition: all 2s ease;
}

.container_gif_introducao:hover {
  /* box-shadow: none; */
  background: #000000b0;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.3);
  transition: all 0.5s ease;
}

.container_gif_introducao h2 {
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #431313;
  /* O cursor piscando */
  font-size: 2rem;
  font-weight: 900;
  margin: 1rem;
  animation:
    digitar 2s steps(20) infinite alternate,
    cursor .6s step-end infinite;
}

.container_gif_introducao p {
  font-size: 1.2rem;
  animation: subirERevelar 1.5s 0.5s forwards infinite alternate;
}

.gif_introduction {
  width: 15rem;
  animation: flutuar 3s linear infinite;
}

.container_logo {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-items: center;
  background-color: #ffffff00;
  padding: 0.5rem;
  border-radius: 1rem;
  max-height: 3rem;
  text-decoration: dashed underline #431313;
  border: solid #ffffff00 1px;
}

.container_logo:hover {
  border: solid #fff 1px;
  text-decoration: solid underline #ffffff;
}

.container_footer {
  margin: 1rem;
}

.github_icon img,
.linkedin_icon img {
  height: 2.5rem;
  background: #fff;
  padding: 0.3rem;
}

.github_icon,
.linkedin_icon {
  height: 5rem;
  padding: 0.5rem;
}


.container_input {
  display: flex;
  width: 80%;
  justify-content: start;
  margin: 2rem;
}

.logo-button {
  background: none;
  border: none;
}

.container_gif {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.gif_carregando {
  padding: 2.5rem;
  width: 10rem;
  height: 10rem;
}

.hidden {
  display: none;
}