.container_gif_introducao {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem 2rem;
  margin: 2rem 0;
  font-family: monospace;
  /* transition: all 2s ease; */
  border-radius: 1rem;
  width: 60%;
  height: auto;
}

.container_gif_introducao:hover {
  /* box-shadow: none; */
  background: #000000b0;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.3);
  transition: all 0.5s ease;
}

.container_gif_introducao h2 {
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #431313;
  /* O cursor piscando */
  font-size: 2rem;
  font-weight: 900;
  margin: 1rem;
  animation:
    digitar 2s steps(20) infinite alternate,
    cursor .6s step-end infinite;
}

.container_gif_introducao p {
  text-align: center;
  font-size: 1.2rem;
  animation: flutuar 7s linear infinite;

}

.container_logo {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: #ffffff00;
  padding: 0.5rem;
  border-radius: 1rem;
  height: 3rem;
  width: 20%;
  text-decoration: dashed underline #431313;
  border: solid #ffffff00 1px;
}

.container_logo:hover {
  text-decoration: solid underline #ffffff;
}

.container_footer {
  margin: 1rem;
}

.github_icon img,
.linkedin_icon img {
  height: 2.5rem;
  background: #fff;
  padding: 0.3rem;
}

.github_icon,
.linkedin_icon {
  height: 5rem;
  padding: 0.5rem;
}

.container_input {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin: 2rem;
  border: solid 2px #ffffff00;
  border-bottom: 2px solid #ffffff;
  transition: all 0.1s ease-in-out;
}

.container_input:hover {
  border-bottom: solid 2px #431313;
}

.logo-button {
  background: none;
  border: none;
}

.container_gif {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.gif_carregando {
  padding: 2.5rem;
  width: 10rem;
  height: 10rem;
}

.hidden {
  display: none;
}

.img_perfil {
  height: 2rem;
  background: #fff;
  border-radius: 50%;
  padding: 0.3rem;
}

.container_perfil {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 20%;
  justify-content: center;
}

.container_Top3 {
  display: flex;
  width: 100%;
  padding: 0.5rem;
  gap: 0.5rem;
  justify-content: center;
}

.slide {
  width: 32%;
  object-fit: cover;
  border-radius: 1rem;

  animation: visual-flow 6s infinite ease-in-out;
  filter: saturate(0.5) brightness(0.8);
}

/* Delays para as fotos não animarem juntas */
.slide:nth-child(2) {
  animation-delay: 2s;
}

.slide:nth-child(3) {
  animation-delay: 4s;
}

@keyframes visual-flow {

  0%,
  100% {
    filter: saturate(0.5) brightness(0.8);
    transform: translateY(0);
  }

  50% {
    filter: saturate(1.2) brightness(1.1);
    transform: translateY(-5px);
    /* Movimento mínimo, quase imperceptível */
  }
}