* {
  box-sizing: border-box;
  margin: 0;
}

header {
  display: flex;
  justify-self: center;
  align-items: center;
  width: 60%;
  gap: 5rem;
  margin: 2rem 0 1rem 0;
}

nav {
  display: flex;
  height: 4rem;
  align-items: center;
}

body {
  font-family: Arial, sans-serif;
  /* background: #431313; */
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)), url('/frontEnd/img/Whisk_5da42f2111cbc0da5f84e63436bc5f65eg.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  text-align: center;
  border-top: 2px solid #ffffff;
  padding: 2rem;
  margin: 0;
  background-color: #311919;

}

svg {
  stroke: #ffffff;
  width: 1.5rem;
}

.container_logo {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-items: center;
  background-color: #ffffff00;
  padding: 0.5rem;
  border-radius: 1rem;
  max-height: 3rem;
  text-decoration: dashed underline #431313;
  border: solid #ffffff00 1px;
}

.container_logo:hover {
  border: solid #fff 1px;
  text-decoration: solid underline #ffffff;
}

.container_footer {
  margin: 1rem;
}

.github_icon img,
.linkedin_icon img {
  height: 2.5rem;

}

.github_icon,
.linkedin_icon {
  height: 5rem;
  padding: 0.5rem;
}

h1 {
  color: #ffffff;
  padding: 1rem 0;
  margin: 0.5rem 0;
  font-family: monospace;

}

.container_input {
  display: flex;
  width: 80%;
  justify-content: center;
  margin: 2rem;
}

input {
  background: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  outline: none;
  color: #ffffff;
  width: 100%;
  text-align: center;
  height: 2.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
  border: solid 1px #fff;
}

input:focus {
  color: #fff;
  transition: all 0.5s ease-in-out;
  background: #43131380;
  border: solid 1px #fff;
  outline: #fff;
  border-radius: none;
}

input::placeholder {
  color: #ffffff50;
}

.busca {
  margin-bottom: 1rem;
}

.busca-botao {
  text-align: center;
  background: #431313;
  cursor: pointer;
  border: solid 1px #fff;
  font-size: 1.7rem;
  min-width: 4rem;
  height: 2.5rem;
  border-radius: 0 0.5rem 0.5rem 0;
}

.busca-botao:hover {
  background-color: #790707;
}

.busca-botao:active {
  background: #79070791;
}

.centralizar {
  display: flex;
  justify-content: center;
}

.logo-button {
  background: none;
  border: none;
}

.container {
  display: flex;
  justify-content: center;
  padding: 1rem;
  min-height: 100vh;
}

.container_gif {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.btns_nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.btns_nav_style {
  font-size: 1rem;
  font-weight: 600;
  background: none;
  color: #fff;
  border: none;
  min-width: 10rem;
  min-height: 2.5rem;
  border-bottom: solid 2px none;
}

.btns_nav_style:hover {
  background-color: none;
  cursor: pointer;
  border-bottom: solid 2px #ffffff;
}

.btns_nav_style:active {
  border-bottom: solid 2px #311919;
}


.gif_carregando {
  padding: 2.5rem;
  width: 10rem;
  height: 10rem;
}

.card-filmes {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
}

.card {
  background: #311919;
  border-radius: 8px;
  padding: 10px;
  margin: 20px;
  min-height: 800px;
  min-width: 300px;
  max-width: 300px;
  border: solid 2px #ffffff;
}

.card:hover {
  background: #000000bc;
  box-shadow: 0 12px 20px rgba(255, 255, 255, 0.1);
  /* sombra mais destacada */
  transform: translateY(-5px);
  /* leve elevação */
}

.card img {
  width: 100%;
  min-height: 380px;
  max-height: 380px;
  border-radius: 4px 4px 0 0;
  margin-bottom: 0;
  border: solid 3px #ffffff;
}


.card h3 {
  display: grid;
  color: #311919;
  justify-content: center;
  align-content: center;
  background: #ffffff;
  border-radius: 0 0 4px 4px;
  text-align: center;
  font-size: 16px;
  margin: -5px 0 15px;
  padding: 10px;
  min-height: 60px;
}

.card span {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #aaa;
  margin: 5px;
}

.card p {
  margin-top: 15px;
  border-top: solid 2px #fff;
  background: #431313;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 0.8rem;
  font-size: 1rem;
  text-align: center;
  min-height: 13rem;
  max-height: 13rem;
  overflow-y: auto;
}

.sem_trailer {
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-top: 1rem;
  padding: 6px 12px;
  background-color: #000000;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  border: solid 2px #fff;
}

.botao-trailer {
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-top: 1rem;
  padding: 6px 12px;
  background-color: #e50914;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  border: solid 2px #fff;
}

.botao-trailer:hover {
  background-color: #b20710;
  cursor: pointer;
}

.hidden {
  display: none;
}

.feedback {
  display: flex;
  justify-self: center;
  align-self: center;
  color: #ffffff;
  padding: 1rem;
  font-size: 1.2rem;
  margin: 1rem 0;
  animation: fadeUp 0.6s ease-out forwards;
}

.feedback_error {
  justify-self: center;
  align-content: center;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  width: 35%;
  height: 10rem;
  background-color: #e50914cd;
  animation: fadeUp 0.7s ease-out forwards;
}

.feedback_info {
  justify-content: center;
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
  width: 50%;
  background-color: #393031cd;
  animation: fadeUp 0.7s ease-out forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 0.8;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {

  .card {
    margin: 1rem;
    padding: 0.5rem;
  }

  .card img {
    max-height: 15rem;
  }

  .card p {
    font-size: 14px;
    min-height: 10rem;
    max-height: 10rem;
  }

  .card h3 {
    font-size: 1.1rem;
  }

  .card span {
    font-size: 1rem;
  }

  .container {
    background-size: cover;
    background-attachment: fixed;
    padding: 0.5rem;
  }

  .trailer-container {
    display: flex;
    margin-top: 1.5rem;
    justify-content: center;
  }

  .botao-trailer,
  .sem_trailer {
    width: 100%;
    text-align: center;
  }

  .card-filmes {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  }

  header {
    width: 100%;
    flex-direction: column;
    gap: 2rem;
  }

  .btns_nav {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  .btns_nav_style {
    min-width: 80%;
  }

  .container_input {
    width: 100%;
    align-self: center;
  }

  input {
    width: 80%;
    margin: 0;
  }

  .busca-botao {
    width: 20%;
  }

  .feedback {
    width: 100%;
    justify-content: center;
  }

  h1 {
    margin: 0;
  }

}