* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #431313;
  color: #fff;
}

h1 {
  text-align: center;
  background: #311919;
  color: #ffffff;
  padding: 10px;
  border-bottom: solid 2px rgb(230, 10, 21);
}

input {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  outline: none;
  color: #000000;
  width: 25%;
  text-align: center;
}


.busca-botao {
  text-align: center;
  background: rgb(57, 55, 55);
  color: white;
  cursor: pointer;
  border: none;
  font-size: 1.7rem;
  width: 4rem;
  height: 3.5rem;
}

.busca-botao:hover {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
}

.centralizar {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  padding: 20px;
}

.card-filmes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: start;
}


.card {
  background: #222222;
  border-radius: 8px;
  padding: 10px;
  margin: 20px;
  min-height: 800px;
  min-width: 300px;
  max-width: 300px;
  border: solid 3px #790707;
}

.card:hover {
  background: #000000bc;
  box-shadow: 0 12px 20px rgba(230, 10, 21, 0.2);
  /* sombra mais destacada */
  transform: translateY(-5px);
  /* leve elevação */
}

.card img {
  width: 100%;
  min-height: 380px;
  max-height: 380px;
  border-radius: 4px 4px 0 0;
  margin-bottom: 0;
  border: solid 3px #790707;
}


.card h3 {
  display: grid;
  justify-content: center;
  align-content: center;
  background: #790707;
  border-radius: 0 0 4px 4px;
  text-align: center;
  font-size: 16px;
  margin: -5px 0 15px;
  padding: 10px;
  min-height: 60px;
}

.card span {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #aaa;
  margin: 5px;
}

.card p {
  margin-top: 15px;
  border-top: solid 2px #790707;
  background: #79070723;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  min-height: 13rem;
  max-height: 13rem;
  overflow-y: auto;
}

.sem_trailer {
  display: inline-block;
  margin-top: 20px;
  padding: 6px 12px;
  background-color: #000000;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  border: solid 2px #fff;
}

.botao-trailer {
  display: inline-block;
  margin-top: 20px;
  padding: 6px 12px;
  background-color: #e50914;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  border: solid 2px #fff;
}

.botao-trailer:hover {
  background-color: #b20710;
  cursor: pointer;
}


@media (max-width: 700px) {
  .card {
    margin: 1rem;
    padding: 8px;
  }

  .card img {
    max-height: 250px;
  }

  .card p {
    font-size: 14px;
    min-height: 10rem;
    max-height: 10rem;
  }

  .card h3 {
    font-size: 14px;
  }

  .card span {
    font-size: 12px;
  }

  .card-filmes {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  }
}